/* Base styles (regardless of theme) */
.bs-callout {
    border: 1px solid #eee;
    border-left: 10px solid #eee;
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-failed {
    border-left-color: #db4545;
}
.bs-callout-success {
    border-left-color: #39aa56;
}
.bs-callout-info {
    border-left-color: #cdb62c;
}
.bs-callout-success span.title {
    color: #39aa56;
}
#analysis .glyphicon {
    color: #aaa;
}
