{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
        {{ content }}
        {%- for module in modules -%}
            <div class="row bs-callout {{ module.callout_class }}">
                <div class="row">
                    <div class="col-md-12">
                        <span class="title">{{ module.analysis.title }}</span>
                    </div>

                </div>
                {% if module.analysis.finished == "1" %}
                    <div class="row">
                        <div class="col-md-7">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            &nbsp; {{ module.analysis.duration }}
                        </div>
                        <div class="col-md-5">
                            {% if module.analysis.finished == "1" %}
                                <img src="{{ module.analysis.coverage_badge }}"/>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            &nbsp; Finished: about {{ module.analysis.finished_at }} ago
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-md-10">
                            In progress...
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endblock %}
</div>
